.sign_txt{
    margin:20px;
    font-size:30px;
}
.card_shadow{
    box-shadow:1px 2px 5px 7px #000;
}

.phone:before{
    content: '';
    display: inline-block;
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 2px solid #ccc;
}
.nav-link{
    color:#fff;
 }

