{% extends 'mobile_web/mobile_base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}

{% for ass in backends.associated %}
{% if ass.provider == 'facebook' %}
<div class="col-md-6 text-center">
    <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
</div>
<div class="col-md-6 social-container my-2">
    <p> Signed in via:  {{ ass.provider }} </p>
    <p> Name:  {{ ass.extra_data.name }} </p>
    <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
</div>
{% endif %}
{% endfor %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <hr style="background:#74d06e;height:2px;margin-top:25px">
            <hr style="background:#74d06e;height:2px;">

            <!-- Card -->
            <div class="row" >
                {% for record in merchant_daily_records %}
                <div class="col-md-6 col-xs-6" style="margin-top:30px;margin-bottom:40px">
                    <div class="card ">
                        <!-- Card image -->
                        <div class=" overlay flip_img">
                            <img class="card-img-top " src="{{ record.image_1.url}}"  alt="{{ record.image_1 }}" style="width:100%;height:150px" >
                            <a href="">
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!-- Card content -->
                        <div class="card-body text-center">
                            <!-- Title -->
                            <h4 class="card-title">MID {{ record.mid }}</h4>
                            <!-- Text -->
                            <p class="card-text">Shop Your Grass</p>
                            <!-- Button -->
                            <a href="{% url 'mobile:merchant_record_detail' pk=record.id %}" class="btn btn-success">Shop Now</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- Card -->
            <!-- green border ---->
            <hr style="background:#74d06e;height:2px;margin-top:25px">
            <hr style="background:#74d06e;height:2px;">
        </div>
    </div>
</div>
<div class="row" style="margin:0">
    <div class="col-md-12 py-5 text-center" style="background:#ddd; padding:20px">
        <p>We Have Recommendation For You</p>
        <button type="button" class="btn btn-default" style="border-radius:25px">Sign in to see Personalization Recommendation</button>
    </div>
</div>
{% endblock %}
