{% extends 'mobile_web/mobile_base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<style>
    .flex-control-thumbs img {
        height:100px !important;
    }
    .flexslider .slides img {
        height:300px !important;
    }
</style>
<div class="container">
    <div class="row" style="margin:20px 0">
        <div class="col-sm-12">
            <!--Carousel Wrapper-->
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li data-thumb="{{ merchant.image_1.url}}" >
                            <img src="{{ merchant.image_1.url}}"  alt="{{ post.image_1 }}"/>
                        </li>
                        <li data-thumb="{{ merchant.image_2.url}}">
                            <img src="{{ merchant.image_2.url}}"  alt="{{ post.image_1 }}"/>
                        </li>
                        <li data-thumb="{{ merchant.image_3.url}}" >
                            <img src="{{ merchant.image_3.url}}"  alt="{{ post.image_1 }}"/>
                        </li>
                        <li data-thumb="{{ merchant.image_4.url}}">
                            <img src="{{ merchant.image_4.url}}"  alt="{{ post.image_1 }}"/>
                        </li>
                    </ul>
                </div>
            </section>
            <!--/.Carousel Wrapper-->
            <!--<div class="col-sm-12">-->
                <!--<div class="col-sm-6 pull-left">-->
                    <!--<video  controls style="width:100%;height:250px">-->
                        <!--<source src="{{ merchant.video.url}}" alt="{{ post.video }}" type="video/mp4" style="width:100%">-->
                    <!--</video>-->
                <!--</div>-->
                <div class="col-sm-6">
                    <div class="card" style="margin-top:30px">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Item quantity: {{merchant.item_quantity}}</li>
                            <li class="list-group-item">Item price: {{merchant.item_price}}</li>
                        </ul>
                    </div>
                    <div  style="margin-top:20px">
                        <a href="{% url 'mobile:client_order_item' pk=merchant.id %}" class="btn btn-success">continue order</a>
                    </div>
                </div>
            <!--</div>-->
        </div>
    </div>
</div>

<script type="text/javascript">
    $(window).ready(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
      });
    });
  </script>
{% endblock %}