{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<style>
    .flex-control-thumbs img {
        height:100px !important;
    }
    .flexslider .slides img {
        height:300px !important;
    }
</style>
<div class="row" style="padding: 10px">
                <div style="text-align: center;     margin-right: 105px; margin-left: 315px;"><h1><b>{{merchant.shop_name|title}}</b></h1></div>

                    <div class="col-lg-2 div_remove">
                        <!-- <input type="text" class="form-control shop_name_search" placeholder="Search by Shop Name ..."> -->
                        <select class="form-control item_name_search">
                            <option>Search by Item Name</option>
                            {% for record in object_list %}
                            <option value="{{record.item_name}}"> {{record.item_name|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-2 div_remove">
                       <select class="form-control category_name_search">
                            <option>Search by Item Category</option>
                            {% for record in object_list %}
                            <option value="{{record.item_category|title}}"> {{record.item_category|title}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-lg-2 div_remove" style="margin:-10px;">
                        <button class="btn btn-primary search">Search</button>
                    </div> 
                </div>
<div class="container">
    <div class="row" >
        <div class="col-lg-12">
            <div class="card" style="margin:30px 0">
            	{% for record in object_list %}
	                <div class="card-body">
	                    <div class="row">
	                        <div class="col-lg-12 text-center" style="margin-bottom:30px">
	                            <h2>Product ID : {{record.id|stringformat:"07d"}}</h2>
	                        </div>
	                        <div class="col-lg-8">
	                            <!--Carousel Wrapper-->
	                            <section class="slider">
	                                <div class="flexslider">
	                                    <ul class="slides">
	                                        {% if record.image_1 %}
	                                        <li data-thumb="{{ record.image_1.url}}" >
	                                            <img src="{{ record.image_1.url}}"  alt="{{ record.image_1 }}"/>
	                                        </li>
	                                        {% endif %}
	                                        {% if record.image_2 %}
	                                        <li data-thumb="{{ record.image_2.url}}">
	                                            <img src="{{ record.image_2.url}}"  alt="{{ record.image_1 }}"/>
	                                        </li>
	                                        {% endif %}
	                                        {% if record.image_3 %}
	                                        <li data-thumb="{{ record.image_3.url}}" >
	                                            <img src="{{ record.image_3.url}}"  alt="{{ record.image_1 }}"/>
	                                        </li>
	                                        {% endif %}
	                                        {% if record.image_4 %}
	                                        <li data-thumb="{{ record.image_4.url}}">
	                                            <img src="{{ record.image_4.url}}"  alt="{{ record.image_1 }}"/>
	                                        </li>
	                                        {% endif %}
	                                    </ul>
	                                </div>
	                            </section>
	                            <!--/.Carousel Wrapper-->
	                            <!--    <h2>userid:{{ request.user.user_profile.id }}</h2>-->

	                            {% if merchant %}
	            	
	<!--                            <video  controls style="width:470%;height:250px">-->
	<!--                                <source src="{{ merchant.video.url}}" alt="{{ post.video }}" type="video/mp4" style="width:100%">-->
	<!--                            </video>-->
	                        </div>
	                        <div class="col-lg-4" style="font-weight:bold">
	                            <div class="card" style="margin-top:30px">
	                                <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Product ID : {{record.id|stringformat:"07d"}}</li>
	                                    <li class="list-group-item">Product Name : {{record.item_name|title}}</li>
                                        <li class="list-group-item">Product Category : {{record.item_category|title}}</li>
	                                    <li class="list-group-item" id="item_price" value="{{record.item_price}}">Price: {{record.item_price}}</li>
                                        <li class="list-group-item" id="description" value="{{record.description}}" style="color: blue;">Description: {{record.description}}</li>
	                                    <li class="list-group-item">Uploded Date: {{record.upload_time.date}}</li>
	                                </ul>
	                            </div>
	                            <br>
	                            <div class="col-lg-12 text-right">
	                                <input type="button" class="btn pull-right" value="continue order" title="continue order" data-toggle="modal" data-target="#myModal" style="background-color: #3c6f8c; color: #fafafa">
	                            </div>
	                        </div>
	                        {% endif %}
	                    </div>
	                    <!--                            <a href="{% url 'client:client_order_item' pk=merchant.id  %}" ></a>-->
	                </div>
	                {% endfor %}
            </div>
              {% if paginator.page_range|length > 1 %}
                                    <div class="text-center col-lg-12">
                                        <ul class="pagination justify-content-center">
                                            <li><a  style="background-color: #3070A8; color: white" class="page_previous" href="{% if page_obj.has_previous %}{% url 'client:list_records_view' pk=merchant.id %}?page={{ page_obj.previous_page_number }}{% else %}#{% endif %}" title="Previous"><button class="form-control"><<</button></a></li>
                                            <li><a style="background-color: #3070A8; color: white" class="page_next" href="{% if page_obj.has_next %}{% url 'client:list_records_view' pk=merchant.id %}?page={{ page_obj.next_page_number }}{% else %}#{% endif %}" title="Next"><button class="form-control">>></button></a></li>
                                        </ul>
                                    </div>
                                    {% endif %}
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal body -->
            <div class="modal-body">
                <div class="container">
                    <form method="post" action="{% url 'client:client_order_item' pk=request.user.user_profile.id  %}">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" name="customer_name" value="{{request.user.username}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="text" name="customer_phone" value="{{request.user.user_profile.phone}}" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Alternate Phone</label>
                            <input type="text" name="alternate_phone" value="{{request.user.user_profile.alternate_phone}}" class="form-control">
                        </div>
                        <div class="form-group">
                            address: <textarea name="address" class="form-control">{{request.user.user_profile.address}} </textarea>
                        </div>
                        <div class="form-group">
                            <label>Item Quantity</label>
                            <input type="text" name="item_quantity" placeholder="Item Quantity" class="form-control" id="quantity" onkeyup="sum();">
                        </div>
                        <div class="form-group">
                            <label>Item Price</label>
                            <input type="text" name="item_price" placeholder="Item Price" class="form-control" id="price" onkeyup="sum();" readonly >
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <textarea name="item_description" placeholder="Tell me about Product You Want e.g: colour of the product, size of the product" class="form-control" ></textarea>
                        </div>
                        <input type="hidden" name="merchant_item_price" id="merchant_item_price" value="{{merchant.item_price}}" onkeyup="sum();"><br>
                        <input type="hidden" name="merchant_daily_upload" value="{{merchant.id}}">
                        <input type="hidden" name="user" value="{{request.user.id}}">
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <input type="submit" value="Continue" class="btn btn-success">
                            <!--                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script>
    function sum() {
      var txtFirstNumberValue = document.getElementById('quantity').value;
      var txtSecondNumberValue = document.getElementById('item_price').value;
      var result = parseInt(txtFirstNumberValue) * parseInt(txtSecondNumberValue);
      if (!isNaN(result)) {
         document.getElementById('price').value = result;
      }
}
</script>
<script type="text/javascript">

    $(window).ready(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        controlNav: "thumbnails"
      });
    });
  </script>

  <script>

$(function () {
    $('.search').on('click', function () {
        var url = "{% url 'client:list_records_view' pk=merchant.id %}";
        window.location.href  = url + '?' + 'item_name=' + $('.item_name_search').val() + '&category=' +  $('.category_name_search').val();
    });
})
    //     $('.search').on ('click', function (){

    //         $.post("{% url 'home' %}", {
    //             window.location.href  = url + '?' + 'shop_name=' + $('.name_search').val() + '&location=' +  $('.id_search').val();
    // });
    //         });

    </script>


{% endblock %}
