{% extends 'base.html' %}
{% block title %} Home {% endblock %}
{% block content %}
{% load static %}
<style>
    .card_shadow{
    box-shadow:0px 2px 12px 7px #ddd;
}
.step_position{
    position: absolute;
    top: 19%;
    right: 7%;
    display: inline-block;
}
</style>
<div  style="background:#F5F5F5">
    <!--         step div start here-->

    <!--         step div end here-->
    <div class="row" style="margin:0px">
        <div class="col-lg-12" style="padding:0px;position:relative">
            <div class="bg_img">
                <img src="{% static 'img/camel1.jpg' %}" style="width:100%;height:540px">
            </div>
            <div class="container step_position">
        <div class="row" >
            <div class="col-lg-3 col-md-6" style="margin-top:30px; margin-bottom:30px">
                <div class="card bg-success text-white" style="border-radius: 20px;min-height:250px">
                    <div class="card-body text-center">
                        <h5>Step 1</h5>
                        <h6>Pick Brand</h6>
                        <img src="{% static 'img/camel3.jpg' %}" style="width:30%;border-radius:40%">
                        <p>Choose From 100+ top Relaiters</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="margin-top:30px; margin-bottom:30px">
                <div class="card bg-success text-white" style="border-radius: 20px;min-height:250px">
                    <div class="card-body text-center">
                        <h5>Step 2</h5>
                        <h6>Personalize</h6>
                        <img src="{% static 'img/camel3.jpg' %}" style="width:30%;border-radius:40%">
                        <p>Add message, photo & video</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="margin-top:30px; margin-bottom:30px">
                <div class="card bg-success text-white" style="border-radius: 20px;min-height:250px">
                    <div class="card-body text-center">
                        <h5>Step 3</h5>
                        <h6>Pay & Delivery</h6>
                        <img src="{% static 'img/delivery.png' %}" style="width:45%;border-radius:50%">
                        <p>Instant by Email,SMS or print at home</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6" style="margin-top:30px; margin-bottom:30px">
                <div class="card " style="border-radius: 20px;min-height:250px">
                    <div class="card-body text-center">
                        <h5 style="color:#6dad29">JATHUB</h5>
                        <h6 style="color:#6dad29">For Bussines</h6>
                        <hr style="width: 29%;background: #000;height: 2px;">
                        <p style="color:#ADD8E6; font-size:15px;line-height: 16px;">Consumer Promotions <br> Employee Rewards <br> Customer Reward</p>
                        <a href="#" class="btn btn-success">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        </div>
    </div>
    {% for ass in backends.associated %}
    {% if ass.provider == 'facebook' %}
    <div class="col-md-6 text-center">
        <img src="{{ass.extra_data.picture.data.url}}" alt="" width="150" height="150" style="border-radius: 50%">
    </div>
    <div class="col-md-6 social-container my-2">
        <p> Signed in via:  {{ ass.provider }} </p>
        <p> Name:  {{ ass.extra_data.name }} </p>
        <p> Provider url: <a href="{{ass.extra_data.profile_url}}">link</a></p>
    </div>
    {% endif %}
    {% endfor %}
    <div class="row" style="margin:20px 0 0 0">
        <div class="col-lg-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-3 col-md-5">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Select Country</option>
                                <option>Pakistan</option>
                                <option>Iran</option>
                                <option>UAE</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-5">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Select City</option>
                                <option>Dubai</option>
                                <option>Quetta</option>
                                <option>Nushki</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    {% for record in merchant_daily_records %}
                    <div class="col-lg-3 col-md-6 col-xs-12" style="margin-top:30px;margin-bottom:40px">
                        <div class="card ">
                            <!-- Card image -->
                            <div class=" overlay flip_img">
                                <img class="card-img-top " src="{{ record.image_1.url}}"  alt="{{ record.image_1 }}" style="width:100%;height:150px" >
                                <a href="{% url 'client:record_detail' pk=record.id %}">
                                    <div class="mask rgba-white-slight"></div>
                                </a>
                            </div>
                            <!-- Card content -->
                            <div class="card-body text-center">
                                <!-- Title -->
                                <h4 class="card-title">MID : {{ record.mid }}</h4>
                                <!-- Text -->
                                <p class="card-text">{{record.merchant.city.city_name|title }}</p>
                                <!-- Button -->
                                {% if user.is_authenticated %}
                                <a href="{% url 'client:record_detail' pk=record.id %}" class="btn btn-success">Order Now</a>
                                {% endif %}
                                {% if not user.is_authenticated %}
                                <div class="btn btn-default" data-toggle="modal" data-target="#signModal" style="color:#fff;">Order Now</div>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- Card -->
            </div>
        </div>
    </div>
</div>
{% endblock %}
