{% extends 'base.html' %}
    {% block title %} Sign in {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-md-8 mx-auto social-container my-2 order-md-1">
            <button class="btn btn-danger  mb-2">
                <a href="#">Login with Instagram</a>
            </button>
            <button class="btn btn-primary mb-2">
                <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook
                </a>
            </button>
            <button class="btn btn-info mb-2">
                <a href="{% url 'register' %}">Register</a>
            </button>
        </div>
    </div>
<div>
    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Username" name="username"> <br>
         <input type="password"  name="password" placeholder="Password"> <br>
        <input type="submit" value="Signin"> <br>
    </form>

</div>
    </div>
    {% endblock %}