<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update profile</title>
</head>
<body>
<form  method="post" action="{% url 'common:update' pk=request.user.user_profile.id %}">
    {% csrf_token %}
profile name:<input type="text"  name="username" value="{{object.user}}"><br>
phone:<input type="text"  name="phone" value="{{object.phone}}"><br>
<select name="gender">
     <option>m</option>
    <option >f</option>
</select><br>
address:<input type="text"  name="address" value="{{object.address}}"><br>
<input type="hidden" name="user" value="{{request.user.id}}">
<input type="submit" value="Save">
</form>
</body>
</html>